---
layout: default
title: Home
---

<div class="jumbotron mb-0">
    <div class="container">
        <div class="row">
            <!-- the left column with image and personal info -->
            <div class="col-md-6 text-left">
                <img src="assets/media/visokay_portrait.jpg" id="headshot" style="max-width:16rem;" alt=""
                    class="img-thumbnail img-fluid">
                <h1 class="mb-2 mt-2">Hello, I'm Adam Visokay</h1>
                <p class="text-left">
                    I am a Bellwether Postdoctoral Scholar at the University of California, Berkeley, supervised by Joshua Blumenstock. I recently completed 
                    my Ph.D. in Sociology at the University of Washington, co-advised by Sasha Johfre and Tyler McCormick, and am an affiliated student with 
                    the International Max Planck Research School for Population, Health and Data Science (IMPRS-PHDS). My research explores how to leverage computational
                    methods and statistics to study social phenomena, typically motivated by questions in public health, economics, and sociology. 
                    I am particularly interested in how to perform valid inference using predictions from black box algorithms and how to effectively use AI/ML 
                    methods in a way that is both transparent and socially grounded. My work has appeared at venues including EMNLP, COLM, and the ACL Workshop 
                    on NLP+CSS. 
                    <br>
                    Contact me at avisokay@uw.edu or find me on <a href="https://www.strava.com/athletes/9804160">strava</a> 🏃!
                    <br>
                </p>
            </div>
            <!-- the right column with education, industry experience,
                languages, and news. (d-flex flex-column) makes it so the
                vertical content spacing changes with height of the
                left column (just makes the vertical spacing nice) -->
            <div class="col-md-6 d-flex flex-column">
                <div class="my-auto">
                    <h2>
                        Positions
                    </h2>
                    <p>
                        {% for item in site.data.ind_exp %}
                    <div class="">{{item.name}}</div>
                    {% endfor %}
                    </p>
                </div>
                <div class="my-auto">
                    <h2 class="">Education</h2>
                    <p>
                        {% for item in site.data.edu %}
                    <div>{{item.name}}</div>
                    {% endfor %}
                    </p>
                </div>
                <div class="my-auto">
                    <h2 class="">News</h2>
                    <div class="news-scroll">
                        {% for item in site.data.news %}
                        <div>{{item.name}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
