---
title: Adam Visokay's Personal Website
description: Adam Visokay's Personal Website
---

<!-- This is the main page of the website -->
<div class="jumbotron mb-0">
    <div class="container">
        <div class="row">
            <!-- the left column with image and personal info -->
            <div class="col-md-6 text-center">
                <img src="assets/media/visokay_portrait.jpg" id="headshot" style="max-width:16rem;" id="left" alt=""
                    class="img-thumbnail img-fluid">
                <h1 class="mb-2 mt-2">Hello, I'm Adam Visokay</h1>
                <p class="text-left">
                    I am a computational social scientist studying at the <a href="https://soc.washington.edu/people/adam-visokay">University of Washington</a>
                    with Professor Tyler McCormick. My research explores how to leverage artificial intelligence and 
                    machine learning to study social phenomena. This ranges from using text as data with linguistic models to 
                    survey sampling to social networks to causal inference. The statistical methodologies I develop have 
                    applications in fields such as sociology, computer science, economics, public health, and 
                    statistics. My substantive interests lie at the intersection of monetary policy and digital finance, 
                    motivatedby questions like: <i>who creates our money? for whom is it created?</i>
                </p>
            </div>
            <!-- the right column with education, industry experience, 
                and languages. (d-flex flex-column) makes it so the
                vertical content spacing changes with height of the
                left column (just makes the vertical spacing nice) -->
            <div class="col-md-6 d-flex flex-column">
                <div class="my-auto">
                    <h2>
                        Education
                    </h2>
                    <p>
                        {% for item in site.data.edu %}
                    <div class="">{{item.name}}</div>
                    {% endfor %}
                    </p>
                </div>
                <div class="my-auto">
                    <h2 class="">Experience</h2>
                    <p>
                        {% for item in site.data.ind_exp %}
                    <div>{{item.name}}</div>
                    {% endfor %}
                    </p>
                </div>
                <div class="my-auto">
                    <h2 class="">Languages</h2>
                    <p>
                        {% for item in site.data.lang %}
                    <div>{{item.name}}: {{item.values}}</div>
                    {% endfor %}

                    (decreasing order of fluency)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ignore -->
<script>
    // $(document).ready(function () {
    //     // $("#right").toggle("slide");
    //     // $("#left").toggle("slide");
    //     $( "#headshot" ).slideToggle("slow");

    // });
    // $( "#headshot" ).slideToggle("slow");
    // $("#headshot").animate({left:'slide'},350);
    // $('#headshot').toggle("slide", { direction: "left"}, -1000);
</script>
