---
layout: default
title: Home
---

<div class="jumbotron mb-0">
    <div class="container">
        <div class="row">
            <!-- the left column with image and personal info -->
            <div class="col-md-6 text-center">
                <img src="assets/media/visokay_portrait.jpg" id="headshot" style="max-width:16rem;" alt=""
                    class="img-thumbnail img-fluid">
                <h1 class="mb-2 mt-2">Hello, I'm Adam Visokay</h1>
                <p class="text-left">
                    I am a PhD student studying at the <a href="https://soc.washington.edu/people/adam-visokay">University of Washington</a>,
                    advised by Professor <a href="https://thmccormick.github.io/">Tyler McCormick</a> and Professor <a href="https://www.sashajohfre.com/">Sasha Johfre</a>.
                    I am also an affiliated student with the <a href="https://www.imprs-phds.mpg.de">Max Planck Institute</a> in Germany.
                    My research explores how to leverage artificial intelligence and machine learning to study social phenomena,
                    typically motivated by questions in public health, economics, and sociology. I am particularly interested in how to perform valid
                    statistical inference using predictions from black box algorithms and how to effectively use AI/ML methods in a way that is both
                    transparent and socially grounded.
                    My most recent work is featured in <a href="https://aclanthology.org/2023.findings-emnlp.434/">EMNLP</a>
                    and <a href="https://openreview.net/forum?id=QbCHlIqbDJ#discussion">COLM</a>.
                    <br>
                    <br>
                    Contact me at avisokay@uw.edu or find me on <a href="https://www.strava.com/athletes/9804160">strava</a> 🏃!
                    <br>

                </p>
            </div>
            <!-- the right column with education, industry experience,
                languages, and news. (d-flex flex-column) makes it so the
                vertical content spacing changes with height of the
                left column (just makes the vertical spacing nice) -->
            <div class="col-md-6 d-flex flex-column">
                <div class="my-auto">
                    <h2>
                        Education
                    </h2>
                    <p>
                        {% for item in site.data.edu %}
                    <div class="">{{item.name}}</div>
                    {% endfor %}
                    </p>
                </div>
                <div class="my-auto">
                    <h2 class="">Experience</h2>
                    <p>
                        {% for item in site.data.ind_exp %}
                    <div>{{item.name}}</div>
                    {% endfor %}
                    </p>
                </div>
                <div class="my-auto">
                    <h2 class="">News</h2>
                    <div class="news-scroll">
                        {% for item in site.data.news %}
                        <div>{{item.name}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
